*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th{
    height: 30px;
    background-color: #212529;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    column-width: auto;
    font-size: 13px;
}

#tabela{
    border-bottom: 1px solid gray;
    
}

.input-container{
    margin-left: 300px;
    margin-top: 50px;
}

.type{
    width: 70%;
    padding-block: 15px;
    margin-block: 10px;
 
}


.dugme{
    padding: 8px;
    background-color: #198754;
    border-radius: 3px;
    border: none;
    color: white;
    
}